 server {
        listen 80;
        server_name learning-web;
        root /usr/share/nginx/html;
        index index.html index.html;
        
        location /api/authenticate {
          proxy_pass http://learning-app-service.default.svc.cluster.local:8090/api/authenticate;
        }
        
        location / {
            try_files $uri $uri/ /index.html;
        }
    }
