<div class="p-grid">
  <div class="p-col-12 p-md-8 p-md-offset-2 p-mt-4">
    <p-card header="Test Cases">
      <p-treeTable [value]="tests">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Count</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode">
            <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.name }}
            </td>
            <td>{{ rowData.count }}</td>
          </tr>
        </ng-template>
      </p-treeTable>
    </p-card>
  </div>
</div>
